@import "tailwindcss";



/* ALIVE BACKGROUND */
html, body {
  height: 100%;
}

body {
  background: #020617; /* slate-950 */
  color: white;
  overflow-x: hidden;
}

/* moving glow layer */
body::before {
  content: "";
  position: fixed;
  inset: -40%;
  z-index: -1;

  background:
    radial-gradient(circle at 20% 30%, rgba(217, 70, 239, 0.75), transparent 45%),
    radial-gradient(circle at 80% 20%, rgba(34, 211, 238, 0.65), transparent 45%),
    radial-gradient(circle at 55% 85%, rgba(99, 102, 241, 0.65), transparent 55%);

  filter: blur(120px);
  transform: translate3d(0,0,0);
  animation: aliveMove 10s ease-in-out infinite alternate,
             aliveHue 14s linear infinite;
}

/* dark overlay so content readable */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgba(2, 6, 23, 0.75),
    rgba(2, 6, 23, 0.88),
    rgba(2, 6, 23, 0.95)
  );
  pointer-events: none;
}

@keyframes aliveMove {
  0%   { transform: translate(-2%, -2%) scale(1); }
  50%  { transform: translate(2%, 3%) scale(1.12); }
  100% { transform: translate(3%, -1%) scale(1.06); }
}

@keyframes aliveHue {
  0%   { filter: blur(120px) hue-rotate(0deg); }
  100% { filter: blur(120px) hue-rotate(360deg); }
}